body{
  background-image: url('/src/components/bg1.png');
  margin: 0;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  }

  .ha{
    text-shadow: 4px 4px 4px rgba(185, 59, 59, 0.6) ;
  }

  .home-text{
    margin-top: 5%;
    font-size:45px;
    text-shadow: 4px 4px 4px rgba(185, 59, 59, 0.6) ;
    /* border: dashed   3px #000000; */
  }


/*Home Card CSS Start*/
/* .card-img-top-home {
  width: 100%; 
  height: 50vw;
  object-fit: cover;
} */

.card-body-home{
  width: 100%;
  height: 19vw;
  object-fit: cover;
}


.card-imgop {
  width: 100%; 
  height: 500px;
}


.card-home {
  width: 100%; 
  height: 59vw;
  background-color:#ffffffc5;
  }

.card-block-home{
    text-align: left;
    padding-left: 10px;
}

.btn-primary{
  background-color: #644c4c !important;
  color: black;
  font-size: 20px;
  width: 200px;
}

.btn.active,.btn:hover{
transform: scale(0.76);
transition: .5s;
color: white;
}
/*Home Card CSS End*/



/* Refs Card CSS Start*/
.card-img-top {
  width: 100%;
  height: 16vw;
  object-fit: cover;
}

.card-body-ref {
  width: 100%;
  height: 19.5vw;
  object-fit: cover;
}


.card-title-ref{
  text-align: left;
}

.card-text-ref{
  font-size: 1.2vw;
  text-align: left;
}


.card-ref{
  width: 100%;
  height: 35vw;/*19.2*/
  object-fit: cover;
  background-color:#ffffffbb;
  border: hidden 3px black;
  color: #000000;
  border-radius: 10px; /* Adjust the value to control the amount of curvature */
  border: 1px solid #ccc; /* Optional: Add a border to the card */
  padding: 3px; 
}
/*Refs Card CSS End */

/* Fields Card CSS Start*/
.card-img-top-field {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  
}

.card-body-field {
  width: 100%;
  height: 10vw;
  object-fit: cover;
}


.card-title-field{
  text-align: left;
}

.card-text-field{
  font-size: 1.2vw;
  text-align: left;
}

.card-field{
  width: 100%;
  height: 35vw;/*19.2*/
  object-fit: cover;
  background-color:#ffffffc0;
  color: #000000;
  border-radius: 10px; /* Adjust the value to control the amount of curvature */
  border: 1px solid #ccc; /* Optional: Add a border to the card */
  padding: 2px; 
}

.btn-secondary{
  background-color: #644c4c !important;
  color: black;
  font-size: 20px;
  width: 125px;
}

/*Fields Card CSS End */


/*Contact CSS Start */
.containerz{
  color: white;
  text-align: left;
  text-shadow: 4px 4px 4px rgba(46,91,173,0.6) ;
}

.containerz .form-control {
  width: 50%; /* Adjust the width as per your requirements */
}

.containerg {
  position: relative;
}

.contact-container {
  position: absolute;
  left: 0;
  width: 70%; /* Adjust width as needed */
}

.additional-content {
  position: absolute;
  right: 0;
  width: 30%; /* Adjust width as needed */
}

.card-body{
  text-align: left;
}

.card{
  text-align: left;
}

.btn-danger{
  background-color: #644c4c !important;
  color: black;
  font-size: 20px;
  width: 200px;
  margin-right: 50%;
}

.btn.active,.btn:hover{
transform: scale(0.76);
transition: .5s;
color: white;
}

.card-header .btn-link {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

.card-header .btn-link:hover {
  /* text-decoration: underline; */
  color: #000000;
}

/*Contact CSS End */

.btn-tree{
  background-color: #644c4c !important;
  color: #ffffff;
  font-size: 20px;
  width: 100px;
  border-radius: 6%;
}


.btn-tree.active,.btn-tree:hover{
  transform: scale(0.76);
  transition: .5s;
  color: white;
}

.btn-four{
  background-color: #644c4c !important;
  color: #ffffff;
  font-size: 20px;
  width: 220px;
  border-radius: 6%;
}

.btn-four.active,.btn-four:hover{
  transform: scale(0.76);
  transition: .5s;
  color: white;
}

.Reg1{
  background-color: none;
  font-size: 20px;
  width: 600px;
  height: 450px;
  margin: 0 auto;
}
